.speech {
    font-family: Arial, sans-serif;
    font-size: small;
    color: black;
}


.direction {
    font-family: Georgia, serif;
    font-size: 80%;
    color: black;
    background-color: yellow; /* Light background color for directions */
}


.direction:hover {
    background-color: lightblue; /* Change background color on hover */
    color:rgb(234, 79, 89); /* Change text color on hover */
}
.name{
    font-family:fantasy;
    font-size:small;
    text-shadow:2.2px 1.8px 4.5pxrgba(20,241t,86,0.473);

}

/* Styles for character names */
.POAPOVA {
    color: red; /* Example color for character Popova */
    font-family: 'Courier New';
    font-size:80%;
}

.LUKA {
    color: blue; /* Example color for character Luka */
    font-family: 'monospace';
    font-size:medium;
}


 .cast-table{
    border-collapse: collapse;
    border-spacing: 3;
    width: 80%;
    margin: 20px 40px 65px;
    border: 1.25px solid #16e816;
}

th, td {
    text-align: left;
    padding: 20px;
    border: 1.25px solid #f30c0c;
  }

tr:nth-child(even) {
    background-color: #fd730a;
  }

    


